{% extends 'base.html' %}

{% block page_title %}Lista produktów{% endblock %}
{% block header_title %}Lista produktów{% endblock %}

{% block content %}
<section class="section">
  <ul class="product-list">
    {% for product in products %}
    <li class="product-item">
      <div class="product-id">
        <a href="{{ url_for('product', product_id=product.id, product_name=product.name) }}" class="btn btn-ceneo btn-sm">
          {{ product.id }}
        </a>
      </div>

      <div class="product-info">
        <div class="badges">
          <span class="badge bg-primary">Opinie: {{ product.opinion_count }}</span>
          <span class="badge bg-success">Zalety: {{ product.pros_count }}</span>
          <span class="badge bg-danger">Wady: {{ product.cons_count }}</span>
          <span class="badge bg-ceneo">Śr. ocena: {{ product.avg_rating }}</span>
        </div>
      </div>

        <div class="download-links mt-2">
            <a href="{{ url_for('download_file', product_id=product.id, file_format='csv') }}" class="btn btn-outline-info btn-sm">CSV</a>
            <a href="{{ url_for('download_file', product_id=product.id, file_format='xlsx') }}" class="btn btn-outline-info btn-sm">XLSX</a>
            <a href="{{ url_for('download_file', product_id=product.id, file_format='json') }}" class="btn btn-outline-info btn-sm">JSON</a>
        </div>

    {% endfor %}
  </ul>
</section>
{% endblock %}
